html{
    background-image: url(img/foto_fundo.jpg);
    display: block;
    padding-top: 40px;
    padding-left: 10px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

footer, h5{
    color: #ffffffdc;
    padding-left: 20px;
    padding-top: 200px;
    font-size: 30px;
    font-family: Georgia;
}

a{
    color: #ffffffdc;
    font-family: Georgia;
    text-decoration: none;
    padding-left: 125px;
    padding-right: 60px;
    font-size: 30px;
}

.logo{
    padding-left: 170px;
    padding-top: 50px;
    padding-bottom: 15px;
    height: 80px;
    
}

.lupa {
    padding-left: 160px;
    padding-top: 6px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 18px;
}

.busca-container {
    padding-left: 160px;
    position: relative;
    width: 300px;
}
  
.busca-input {
    width: 100%;
    padding: 20px 13px 13px 150px; /* Ajuste do padding para o ícone */
    border: 1px solid #ccc;
    border-radius: 10px; /* Deixa as bordas arredondadas */
    font-size: 16px;
    color: #555;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1
}
  
.busca-input::placeholder {
    color: #aaa;
}

header{
    padding-top: 320px;
    padding-left: 420px;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-decoration: none;
    padding-right: 0px;
    padding-left: 135px;
    padding-top: 20px;
}

.publicacao{
    background-color: #3c6432;
    border-radius: 10px;
}