<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alexandria</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="verificacao-container">
        <div class="verificacao-box">
          <h1>Código de Verificação</h1>
          <div class="verificacao-input-group">
            <label for="verification-code">Código:</label>
            <input type="text" id="verification-code" placeholder="Insira o código">
          </div>
          <button>Continuar</button>
        </div>
      </div>
      
  </div>
</body>
</html>
