{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock %}

{% block content %}

<div class="flex-container">
    <div class="publicacao">
        <h1>Adicionar Material</h1>
        <div>
            <h2>Autor:</h2>
            <input type="text" class="input" placeholder="">
            <h2>Título:</h2>
            <input type="text" class="input" placeholder="">
            <h2>Tipo:</h2>
        </div>
    </div>
    <div>
        <h1>Vídeos</h1>
    </div>
    <div>
        <h1>Slides</h1>
    </div>
    <div>
        <h1>Documentos</h1>
    </div>
</div>

{% endblock content %}